# =============== #
# Unity generated #
# =============== #
group3_vr/Temp/
group3_vr/Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
group3_vr/group3_vr/ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db